<title>Hero Sheet: nomuertos</title>
<%= erb :menu %>
<br><h1>No-muertos</h1>

<table id='table-2'>
	<thead>
		<tr><th>Icono</th>
			<th>Nombre</th>
			<th>Ataque</th>
			<th>Defensa</th>
			<th>Movimiento</th>
			<th>Mente</th>
			<th>Cuerpo</th>
		</tr>	
	</thead>
	<tbody>
		<% nomuertos.each do |pv| %>
			<tr>
				<td>
					<% img_path = "'../images/criaturas/no-muertos/#{pv[:nombre]}.png'" %>
					<img src=<%=img_path%> alt='icono', id='icon' />
				</td>
				<% pv.keys.each do |att| %>
					<% if att != :id %>
						<td><%= pv[att] %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
