<title>Hero Sheet: Pieles Verdes</title>
<body>
	<%= erb :menu %>
	<link rel="stylesheet" href="../../css/main.css" type="text/css" />
	<link rel="stylesheet" href="../../app.css"      type="text/css" />	
	<br>
	<h1>Pieles Verdes</h1>
	
	<table id='table-2'>
		<thead>
			<tr><th>Icono</th>
				<th>Nombre</th>
				<th>Ataque</th>
				<th>Defensa</th>
				<th>Movimiento</th>
				<th>Cuerpo</th>
				<th>Mente</th>
			</tr>	
		</thead>
		<tbody>
			<tr><td>
					<img>
				</td>
				<td>Orco</td>
			</tr>
			<tr>
				<td>
					<img>
				</td>
				<td>Goblin</td>
			</tr>
		</tbody>
	</table>
	<br>
</body>