<title>Herosheet: Caminos</title>
<%= erb :menu %><br>

<h1>Los Caminos del Héroe</h1><br>
<center>
	<li>El Heredero</li>
	<li>El Burgués</li>
	<li>El Arconte</li>
	<li>El Justiciero</li>
	<li>El Eremita</li>
	<li>El Santo</li>
	<li>El Bardo</li>
</center>