<title>Herosheet: Caminos</title>
<%= erb :menu %><br>
<h1>Los Caminos del Héroe</h1>
<table id='table-2'>
	<tbody>
		<% caminos.each do |camino| %>
			<tr>
				<td><%= camino %></td>
				<td><%= erb :'ficha/caminos' %></td>
			</tr>
		<% end %>
	</tbody>
</table>