<link rel="stylesheet" href="app.css" type="text/css" />

<html>
<head>
	<title>Display</title>
	<link rel="stylesheet" href="app.css" type="text/css" />
</head>

<body>
	<div class="information_popup_container">
		<div class="information">
			<%= erb :show %>
		</div>
		<div class="popup_information">
			<%= erb :hide %>
		</div>
	</div>
</body>