<!DOCTYPE HTML>

<html>
<head>
	<title>Display</title>
	<link rel="stylesheet" href="app.css" type="text/css" />
</head>

<body>
	<div class="information_popup_container">
		<div class="information">
			<%= @show_me %> 
		</div>
		<div class="popup_information">
			<%= @hide_me %>
		</div>
	</div>
</body>

</html>