<link rel="stylesheet" href="app.css" type="text/css" />

<div class="information_popup_container">
	<div class="information">
		<!-- The thing or things you want to hover over go here such as images, tables, 
     	   paragraphs, objects other divisions etc. -->
		Hola 
	</div>
	<div class="popup_information">
		<!-- The thing or things you want to popup go here such as images, tables, 
     	   paragraphs, objects other divisions etc. -->
		La armadura es una mugre.
	</div>
</div>