<title>Hero Sheet: Lista de habilidades del Druida</title>
<link rel="stylesheet" href="../../app.css" type="text/css" />
<body>
	<h1>Lista de Habilidades del Druida</h1>

	<table id='table-2'>
		<thead>
			<tr>
				<th>ID</th>
				<th>Icono</th>
				<th>Tipo</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Nivel</th>
				<th>Requisitos</th>
			</tr>
		</thead>
		</thead>
		<tbody>
			<% druidas.each do |a| %>
				<tr>
					<td><% a[:id] %></td>
					<td><% "XXX" %></td>
					<td><% a[:type] %></td>
					<td><% a[:name] %></td>
					<td><% a[:description] %></td>
					<td><% "In progress" %></td>
					<td><% "In progress" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</body>