<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1><center>Lista de Encantamientos</center></h1>
<a href=/>Índice</a><br><br>

<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Descripcion</th>
		</tr>	
	</thead>
	<tbody>
		<% enchants.each do |e| %>
			<tr>
				<td><%= e[:id] %></td>
				<td><%= e[:name].capitalize %></td>
				<td><%= e[:tipo].capitalize %></td>
				<td><%= e[:descripcion] %></td>
			</tr>
		<% end %>
	</tbody>
</table>