<title>Hero Sheet</title>

<center><img src="images/logo.png" alt="Proyecto Heroquest" /></center>
<link rel="stylesheet" href="app.css" type="text/css" />

<table id='table-2'>
	<thead>
		<tr>
			<th>Heroes</th>
			<th>Protecciones</th>
			<th>Habilidades</th>
			<th>Runas</th>
			<th>Joyas</th>
			<th>Gemas</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<a href='/heros' target="_blank">
				<img src='images/menu/heroes.png'/, id='box'></a>
			</td>
			<td>
				<a href='/protecciones' target="_blank">
				<img src='images/menu/protecciones.png', id='box'/></a>
			</td>
			<td>
				<a href='/habilidades' target="_blank">
				<img src='images/menu/habilidades.png'/, id='box'></a>
			</td>
			<td>
				<a href='/runas' target="_blank">
				<img src='images/menu/runas.png'/, id='box'></a>
			</td>
			<td>
				<a href='/joyas' target="_blank">
				<img src='images/menu/joyas.png', id='box'/></a>
			</td>
			<td>
				<a href='/gemas' target="_blank">
				<img src='images/menu/gemas.png', id='box'/></a>
			</td>
		</tr>
	</tbody>
</table>

<table id='table-2'>
	<thead>
		<tr>
			<th>Hechizos</th>
			<th>Familiares</th>
			<th>Armaduras</th>
			<th>Pociones</th>
			<th>Útiles</th>
			<th>Armas</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<a href='/spells' target="_blank">
				<img src='images/menu/hechizos.png'/, id='box'></a>
			</td>
			<td>
				<a href='/familiares' target="_blank">
				<img src='images/menu/familiares.png', id='box'/></a>
			</td>
			<td>
				<a href='/armaduras' target="_blank">
				<img src='images/menu/armaduras.png'/, id='box'></a>
			</td>
			<td>
				<a href='/pociones' target="_blank">
				<img src='images/menu/pociones.png'/, id='box'></a>
			</td>
			<td>
				<a href='/joyas' target="_blank">
				<img src='images/menu/joyas.png', id='box'/></a>
			</td>
			<td>
				<a href='/armas' target="_blank">
				<img src='images/menu/armas.png', id='box'/></a>
			</td>
		</tr>
	</tbody>
</table>