<!DOCTYPE HTML>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Hero Sheet</title>
	<link rel="stylesheet" href="app.css" type="text/css" />
</head>

<body>
	<header>
		<nav>
			<ul><center><img src="images/logo.png" alt="Proyecto Heroquest" /></center></ul>
		</nav>
	</header>
	<section>
		<% index.each do |row| %>
			<article>
				<table id='table-2'>
					<thead>
						<tr><% row.each do |topic| %>
								<th><%= topic.capitalize %></th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<tr><% row.each do |topic| %>
								<td><a href='/<%= topic %>'>
									<img src='images/menu/<%= topic %>.png'/, id='box'></a>
								</td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</article>
		<% end %>
	</section>
	<aside>
		<h2>About section</h2>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</aside>
	<footer>
		<p>Copyright 2014 Borja Martín</p>
	</footer>
</body>
</html>