<title>Hero Sheet</title>

<center><img src="images/logo.png" alt="Proyecto Heroquest" /></center>
<link rel="stylesheet" href="app.css" type="text/css" />

<% index.each do |row| %>
	<table id='table-2'>
		<thead>
			<tr>
				<% row.each do |topic| %>
					<th><%= topic.capitalize %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% row.each do |topic| %>
					<td>
						<a href='/<%= topic %>'>
						<img src='images/menu/<%= topic %>.png'/, id='box'></a>
					</td>
				<% end %>
			</tr>
		</tbody>
	</table>
<% end %>