<h1>Herosheet Project</h1>
<table>
	<thead>
		<tr><a href=/hero>Héroes</a></tr>
		<tr>Hechizos</tr>
		<tr>Habilidades</tr>
		<tr>Items</tr>
	</thead>
	<tbody>
	</tbody>
</table>


the time where this server lives is <%= Time.now %>
  <br /><br />check out your <a href=/agent>user_agent</a>