<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />
<link rel="stylesheet" href="../../css/map.css" type="text/css" />

<title>Herosheet: Mapa del mundo</title>

<body>
	<h1>Mapa del mundo</h1>
	<div class="mapa_imagen">
	  <img src="/images/mapa.png" id='mapamundi'>
	  <ul class="notas">
	    <li id="nota1"><p>El Gran Lago</p></li>
	    <li id="nota2"><p>La temible costa de los pirata</p></li>
	    <li id="nota3"><p>Altdorf, capital del Imperio</p></li>
	    <li id="nota4"><p>El Desierto prohibido</p></li>
		<li id="nota5"><p>Jadessvärd</p></li>
	  </ul>
	</div>
	<br>
</body>