<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />
<link rel="stylesheet" href="../../css/map.css" type="text/css" />

<title>Herosheet: Mapa del mundo</title>

<body>
	<h1>Mapa del mundo</h1>
	<div class="mapa_imagen">
	  <img src="/images/mapa.png" id='mapamundi'>
	  <ul class="notas">
	    <li id="nota1"><p>Todo el mar es suyo :)</p></li>
	    <li id="nota2"><p>¡Me encanta este color azul!</p></li>
	    <li id="nota3"><p>Dan ganas de tirarse...</p></li>
	  </ul>
	</div>
	<br>
</body>