<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta charset="utf-8" />
        <meta name="Borja Martín" content="Heroquest Dashboard" /> 
        <!-- add styles -->
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<center><img src="../images/logo.png" alt="Proyecto Heroquest" /></center>
        <div class="container">
            <ul id="nav">
                <li><a href="/heroes">héroes</a>
                    <span id="s1"></span>
                    <ul class="subs">
                        <li><a href="/heroes">Lista de héroes</a>
                            <ul>
                                <li><a href="/heroes">Activos</a></li>
                                <li><a href="/reservistas">Reservistas</a></li>
                                <li><a href="/licenciados">Licenciados</a></li>
                                <li><a href="/ausentes">Ermitaños</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Personajes</a>
                            <ul>
                                <li><a href="/clase/mago">Mago</a></li>
                                <li><a href="/clase/barbaro#">Bárbaro</a></li>
                                <li><a href="/clase/enano">Enano</a></li>
                                <li><a href="/clase/elfo#">Elfo</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s2">Equipo</a>
                    <span id="s2"></span>
                    <ul class="subs">
                        <li><a href="#s1">Combate</a>
                            <ul>
                                <li><a href="/armas">Armas</a></li>
                                <li><a href="/armaduras">Armaduras</a></li>
                                <li><a href="/protecciones">Protecciones</a></li>
                                <li><a href="/miscelaneas">Miscelánea</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Útiles</a>
                            <ul>
                                <li><a href="/pociones">Pociones</a></li>
                                <li><a href="/pergaminos">Pergaminos</a></li>
                                <li><a href="/supervivencia">Supervivencia</a></li>
                                <li><a href="/piezas">Piezas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s3">Tesoro</a>
                    <span id="s3"></span>
                    <ul class="subs">
                        <li><a href="#">Engarces</a>
                            <ul>
                                <li><a href="/gemas">Gemas</a></li>
                                <li><a href="/runas">Runas</a></li>
                                <li><a href="/joyas">Joyas</a></li>
                                <li><a href="/tiers">Tiers</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Objetos mágicos</a>
                            <ul>
                                <li><a href="/artefactos">Artefactos</a></li>
                                <li><a href="/encantamientos">Encantamientos</a></li>
                                <li><a href="/objetosmagicos">Objetos mágicos</a></li>
                                <li><a href="/legendarios">Objetos legendarios</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s3">Magia</a>
                    <span id="s3"></span>
                    <ul class="subs">
                        <li><a href="/hechizos">Hechizos</a>
                            <ul>
                                <li><a href="/hechizos/1">Nivel 1</a></li>
                                <li><a href="/hechizos/2">Nivel 2</a></li>
                                <li><a href="/hechizos/3">Nivel 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Escuelas de magia</a>
                            <ul>
                                <li><a href="/escuela/elemental">Elemental</a></li>
                                <li><a href="/escuela/sagrada">Sagrada</a></li>
                                <li><a href="/escuela/tenebrosa">Tenebrosa</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s4">Manuales</a>
                    <span id="s4"></span>
                    <ul class="subs">
                        <li><a href="/hechizos">Turno</a>
                            <ul>
                                <li><a href="/acciones">Acciones</a></li>
                                <li><a href="/dado/4">Combate</a></li>
                                <li><a href="/tesoro">Tesoro</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Ciudad</a>
                            <ul>
                                <li><a href="/profesiones">Profesiones</a></li>
                                <li><a href="/familiares">Familiares</a></li>
                                <li><a href="/escuelas">Escuelas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s4">Habilidades</a>
                    <span id="s4"></span>
                    <ul class="subs">
                        <li><a href="/habilidades">Héroes Básicos</a>
                            <ul>
                                <li><a href="/clase/elfo">Elfo</a></li>
                                <li><a href="/clase/enano">Enano</a></li>
                                <li><a href="/clase/mago">Mago</a></li>
                                <li><a href="/clase/barbaro">Bárbaro</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Descendientes</a>
                            <ul>
                                <li><a href="/clase/clerigo">Clérigo</a></li>
                                <li><a href="/clase/ladron">Ladrón</a></li>
                                <li><a href="/clase/tiefling">Tiefling</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><br><br>
    </body>
</html>
