<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta charset="utf-8" />
        <meta name="Borja Martín" content="Heroquest Dashboard" /> 
        <!-- add styles -->
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
		<link href="../../app.css"   rel="stylesheet" type="text/css" />	
    </head>
    <body>
		<center><img src="../images/logo.png" alt="Proyecto Heroquest" /></center>
        <div class="container">
            <ul id="nav">
                <li><a href="/heroes">héroes</a>
                    <span id="s1"></span>
                    <ul class="subs">
                        <li><a href="/heroes">Lista de héroes</a>
                            <ul>
                                <li><a href="/heroes">Activos</a></li>
                                <li><a href="/reservistas">Reservistas</a></li>
                                <li><a href="/licenciados">Licenciados</a></li>
                                <li><a href="/ausentes">Ermitaños</a></li>
                                <li><a href="/extranjeros">Extranjeros</a></li>
                            </ul>
                        </li>
                        <li><a href="/habilidades">Personajes</a>
                            <ul>
                                <li><a href="/habilidades">Habilidades de clase</a></li>
                                <li><a href="/familiares">Familiares</a></li>
                                <li><a href="/profesiones">Profesiones</a></li>
                                <li><a href="/caminos">Caminos</a></li>
                                <li><a href="/maestrodearmas">Dotes marciales</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/items/equipo">Equipo</a>
                    <span id="s2"></span>
                    <ul class="subs">
                        <li><a href="/items/combate">Combate</a>
                            <ul>
                                <li><a href="/items/armas">Armas</a></li>
                                <li><a href="/items/armaduras">Armaduras</a></li>
                                <li><a href="/items/protecciones">Protecciones</a></li>
                                <li><a href="/items/miscelaneas">Miscelánea</a></li>
                            </ul>
                        </li>
                        <li><a href="items/utiles">Útiles</a>
                            <ul>
                                <li><a href="/items/pociones">Pociones</a></li>
                                <li><a href="/items/pergaminos">Pergaminos</a></li>
                                <li><a href="/items/supervivencia">Supervivencia</a></li>
                                <li><a href="/items/piezas">Piezas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/tesoro">Tesoro</a>
                    <span id="s3"></span>
                    <ul class="subs">
                        <li><a href="items/engarces">Engarces</a>
                            <ul>
                                <li><a href="/items/gemas">Gemas</a></li>
                                <li><a href="/items/runas">Runas</a></li>
                                <li><a href="/items/joyas">Joyas</a></li>
                                <li><a href="/items/tiers">Tiers</a></li>
                            </ul>
                        </li>
                        <li><a href="/items">Objetos mágicos</a>
                            <ul>
                                <li><a href="/items/artefactos">Artefactos</a></li>
                                <li><a href="/items/encantamientos">Encantamientos</a></li>
                                <li><a href="/items/objetosúnicos">Objetos únicos</a></li>
                                <li><a href="/items/legendarios">Objetos legendarios</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s3">Hechizos</a>
                    <span id="s3"></span>
                    <ul class="subs">
                        <li><a href="/magia/hechizos">Hechizos Elementales</a>
                            <ul>
                                <li><a href="/magia/hechizos/1">Nivel 1</a></li>
                                <li><a href="/magia/hechizos/2">Nivel 2</a></li>
                                <li><a href="/magia/magia/hechizos/3">Nivel 3</a></li>
                                <li><a href="/magia/magia/hechizos/4">Nivel 4</a></li>
                            </ul>
                        </li>
                        <li><a href="/magia/">Hechizos Sagrados</a>
                            <ul>
                                <li><a href="/magia/elficas">Magia Élfica</a></li>
                                <li><a href="/magia/plegarias">Plegarias Sagradas</a></li>
                                <li><a href="/magia/sombras">Magia Sombría</a></li>
                                <li><a href="/magia/sangre">Magia de Sangre</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s4">Manuales</a>
                    <span id="s4"></span>
                    <ul class="subs">
                        <li><a href="/magia/hechizos">Turno</a>
                            <ul>
                                <li><a href="/acciones">Acciones</a></li>
                                <li><a href="/dado/4">Combate</a></li>
                                <li><a href="/tesoro">Tesoro</a></li>
                            </ul>
                        </li>
                        <li><a href="/">Combate</a>
                            <ul>
                                <li><a href="/combate/posiciones">Posiciones</a></li>
                                <li><a href="/combate/estados">Estados</a></li>
                                <li><a href="/combate/resistencias">Resistencias</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/ciudad">Edificios</a>
                    <span id="s4"></span>
                    <ul class="subs">
                        <li>Ayuntamiento
                            <ul>
                                <li><a href="/notaria">Consejo de Notables</a></li>
                                <li><a href="/palacio">El Palacio Imperial</a></li>
                                <li><a href="/templo">Templo de Sigmar</a></li>
                            </ul>
                        </li>
                        <li>Torre de Magia
                            <ul>
                                <li><a href="/magia/escuelas">Escuelas</a></li>
                                <li><a href="/magia/especializaciones">Especializaciones</a></li>
                                <li><a href="/magia/magisters">Magisters</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/">Criaturas</a>
                    <span id="s4"></span>
                    <ul class="subs">
                        <li><a href="/criaturas">Criaturas mágicas</a>
                            <ul>
                                <li><a href="/criaturas/dragones">Dragones</a></li>
                                <li><a href="/criaturas/elementales">Elementales</a></li>
                                <li><a href="/criaturas/bestias">Bestias</a></li>
                            </ul>
                        </li>
                        <li><a href="/criaturas">Monstruos</a>
                            <ul>
                                <li><a href="/criaturas/pielesverdes">Pieles Verdes</a></li>
                                <li><a href="/criaturas/caos">Caos</a></li>
                                <li><a href="/criaturas/nomuertos">No-Muertos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/mapa">Mapa</a>
                </li>
            </ul>
        </div><br><br>
    </body>
</html>
