<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1><center>Lista de Runas</center></h1>
<a href=/>Índice</a><br><br>

<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Nombre</th>
		</tr>	
	</thead>
	<tbody>
		<% runas.each do |r| %>
			<tr>
				<td><%= r[:id] %></td>
				<td>
					<% img_path = "'../images/treasures/runas/#{r[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=r[:name]%>, id='icon' />
				</td>
				<td><%= r[:name].upcase %></td>
			</tr>
		<% end %>
	</tbody>
</table>