$blue: #47b4db;
$bluedark: darken(#47b4db, 8%);

.meter { 	
  height: 20px;  
  position: relative;
  background: #ededed;
  border-radius: 25px;
  padding: 10px;
  @include box-shadow(inset 0 -1px 3px rgba(0,0,0,0.3));
  margin: 1em;
  ol {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    width: 99%;
    border-radius: 10px;
    background-color: #ddd;
    position: relative;
    list-style: none;
    li {
      float: left;
      margin: 0;
      padding: 0;
      text-align: right;
      width: 25%;
      position: relative;
      border-radius: 10px;
      @include box-shadow(inset 2px 2px 5px  rgba(0, 0, 0, 0.25) );
      span{
        right:-0.5em;
        display: block;
        text-align: center;
        }
      .step {
        top: -0.4em;
        padding: .2em 0;
        border: 3px solid #ddd;
        z-index: 99;
        font-size: 1.25em;
        color: #ddd;
        width: 1.5em;
        font-weight: 700;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        }
      .stage {
        color: #fff;
        font-weight: 700;
        }
      }
    li.active {
      height: 20px;
      background: $blue;
      @include box-shadow(inset 2px 2px 5px  rgba(0, 0, 0, 0.25) );
      background-image: repeating-linear-gradient(45deg, transparent, transparent 12px, $bluedark 12px, $bluedark 24px);
      -webkit-animation:progress 3s infinite linear;
			-moz-animation:progress 3s infinite linear;
			-ms-animation:progress 3s infinite linear;
			-o-animation:progress 3s infinite linear;
			animation:progress 3s infinite linear;
      span.step{
        color: #000;
        border: 3px solid #47b4db;
      }
    }
  }
}
@keyframes "progress" {
 0% {
    background-position-x: 0px;
 }
 100% {
    background-position-x: 36px;
 }

}

@-moz-keyframes progress  {
 0% {
   background-position-x: 0px;
 }
 100% {
   background-position-x: 36px;
 }

}

@-webkit-keyframes "progress" {
 0% {
   background-position-x: 0px;
 }
 100% {
   background-position-x: 31px;
 }

}

@-ms-keyframes "progress" {
 0% {
   background-position-x: 0px;
 }
 100% {
   background-position-x: 36px;
 }

}

@-o-keyframes "progress" {
 0% {
   background-position-x: 0px;
 }
 100% {
   background-position-x: 55px;
 }

}