.fichalista {
    width: 85%;
    height: 500px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	
	border : 12px ;
	border-left : none;
	border-right : none;
	text-align : center;
	
	color: #CBCBCB;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #222;
	padding: .1em 1em 1em 1em;
	
}.fichalista div {
	display : inline-block;
	border-left : 2px dotted #ccc;
	vertical-align : middle;
	line-height : 100px;
}

.description { 
	float: left;
	width: 20%;  
	height:100px;
}
.bodymenu { 
	float: right;
	width: 20%;
	height:100px; 
	border-right: 2px dotted #ccc;
}
.mainbody { 
	display: inline-block;
	width: 56%; 
	height:100px;
}

#portraitbig {
	padding: 10px 10px;
	weight: 306px;
	height: 482px;
}

#fstats, #fresistencias, #fscrolls,
#fmagias, #fhabilidades, #ftesoros {
	padding: 10px 10px;
	weight: 306px;
	height: 482px;
	display: none;
}

#combat {
	padding: 2px;
	weight: 100px;
	height: 100px;
	border: solid 10px transparent;
}
#combat:hover {
    border-color: yellow;
}

#habilidades {
	padding: 2px;
	weight: 100px;
	height: 100px;
	border: solid 10px transparent;
}
#habilidades:hover {
    border-color: blue;
}

#resistencias {
	padding: 2px;
	weight: 100px;
	height: 100px;
	border: solid 10px transparent;
}
#resistencias:hover {
    border-color: silver;
}

#tesoros {
	padding: 2px;
	weight: 100px;
	height: 100px;
	border: solid 10px transparent;
}
#tesoros:hover {
    border-color: purple;
}

#rostro {
	padding: 2px;
	weight: 100px;
	height: 100px;
	border: solid 10px transparent;
}
#rostro:hover {
    border-color: white;
}

#hechizos {
	padding: 2px;
	weight: 100px;
	height: 100px;
	border: solid 10px transparent;
}
#hechizos:hover {
    border-color: orange;
}

#scrolls {
	padding: 2px;
	weight: 100px;
	height: 100px;
	border: solid 10px transparent;
}
#scrolls:hover {
    border-color: red;
}

#tablaengarces {
    width: 96%;
    margin-left:auto; 
    margin-right:auto;
}
#tablaengarces td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 1px solid transparent;
}
#tablaengarces #engarce {
	width: 10%;
}
#tablaengarces #nombre {
	width: 30%;
	color: white;
}
#tablaengarces #descriptor {
    color: white;
}

#tabalorios {
    width: 99%;
    margin-left:auto; 
    margin-right:auto;
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
 	vertical-align: middle;
}
#tabalorios td, #tabalorios th {
	padding: 3px;
	text-align:center;
	color: #333;
}
#tabalorios thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
#tabalorios th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-shadow: white 1px 1px 1px;
}
#tabalorios td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

#tabalorios td:hover {
	background-color: #fff;
}