<tr>
	<th width='80%'><%= field.capitalize %></th>
	<% listado = (@heroe[objeto.to_sym] || []).find_all{ |x| send(field+'_lista').include?(x[:id])} %>
	<% if !listado.empty? %>
		<td><%= erb :'display/item', :locals => { :a => listado[0] , :item => objeto[0..-2]} %></td>
	<% else %>
		<% img_path = "'../../images/treasures/socket.png'" %>
		<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
	<% end %>
</tr>