<tr>
	<th width='80%'><%= fits.capitalize %></th>
	<% if @heroe.send(fits) %>
		<td><%= erb :'ficha/inventario/objeto', :locals => {:objeto => @heroe.send(fits)} %></td>
	<% else %>
		<td><%= erb :'display/ranura' %></td>
	<% end %>
</tr>