<div class="meter">
	<ol>
		<li class="active">
			<span class="step">1</span>
			<span class="stage">Elegir</span>
		</li>
		<li class="active">
			<span class="step">2</span>
			<span class="stage">Confirm</span>
		</li>
		<li>
			<span class="step">3</span>
			<span class="stage">Checkout</span>
		</li>
		<li>
			<span class="step">4</span>
			<span class="stage">Complete</span>
		</li>
	</ol>
</div>