<ul id="progress">
    <li><%= camino(path)[0] ?  camino(path)[0][0] : "error" %></li>
    <li><%= camino(path)[1] ?  camino(path)[1][0] : "error" %></li>
    <li>Step 3</li>
    <li>Step 4</li>
    <li>Step 5</li>
    <li>Step 6</li>
    <li>Step 7</li>
    <li>Step 8</li>
    <li><%= " FIN" %></li>
</ul>