<br>
<table id='table-2'>
	<thead>
		<tr><th><a href=../magia/spells/<%=@heroe[:id]%>>Lista de hechizos conocidos</a></th>
		</tr>
	</thead>
	<tbody>
		<tr><td><table id='table-2'>
					<tbody>
						<tr>
							<% hero_elements(@heroe[:hechizos]).each do |e| %>	
								<td>
									<%= erb :'display/display', :locals => { 
										:title       => e, 
										:path        => "'../images/elements/#{e}.png'",
										:description => "" } %>
								</td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>