<table id='tlabel' width='30%'>
	<tbody>
		<tr><td><img src="../images/ficha/combat.png" alt=<%='combate' %> /, id='icon2'></td>
			<td><h3>Combate</h3></td>
			<td><img src="../images/ficha/combat.png" alt=<%='combate' %> /, id='icon2'></td>
		</tr>
	</tbody>
</table>