<br>
<table id='table-2'>
	<thead>
		<tr>
			<% resistencias.each do |r| %>	
				<th><%= erb :'display/display', :locals => { 
						:title       => r, 
						:path        => "'../images/elements/#{r}.png'",
						:description => "Resistencia"} %>
				</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% resistencias.each do |r| %>
				<td>
					<%= @heroe.resistencia(r) %>
				</td>
			<% end%>
		</tr>
	</tbody>
</table>