<br>
<table id='table-2'>
	<thead>
		<tr><% resistencias.each do |r| %>	
				<th><%= erb :'display/display', :locals => { 
						:title       => r[:nombre], 
						:path        => "'../images/elements/#{r[:nombre]}.png'",
						:description => r[:description]} %>
				</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr><% resistencias.each do |r| %>
				<td>+<%= @heroe.resistencia(r[:nombre]) %></td>
			<% end%>
		</tr>
	</tbody>
</table>