<title>Hero Sheet: Lista de armaduras %></title>
<%= erb :menu %><br>
<h1>Lista de Armaduras</h1>

<table id='table-2'>
	<thead>
		<tr>
			<% armaduras.each do |item| %>
				<th width='12%'><%= item[:name].gsub("armadura","").gsub("de","") %></th>
			<% end %>
		</tr>	
	</thead>
	<tbody>
		<tr>
			<% armaduras.each do |item| %>
			<% a = Armadura.new(item) %>
				<td><%= erb :'display/display', :locals => {
					:title       => a.name,
					:path        => a.img_path,
					:description => a.description} %>
				</td>
			<% end %>
		</tr>	
	</tbody>
</table>
<br>