<%= erb :menu %><br><br><br><br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1>Lista de Objetos Únicos</h1><br><br>

En construcción.
