<h1>{{title}}</h1>

<p>{{content}}</p>

<ul>
  <li>
    <a href="/agent">The Agent Example</a>
  </li>
  <li>
    <a href="/partial">The Partial Example</a>
  </li>
  <li>
    <a href="/nolayout">A Page Without a Layout</a>
  </li>
</ul>
The time where this server lives is {{time}}