<title>Herosheet: Estados</title>
<%= erb :menu %><br>
<h1>Estados de combate</h1>

<table id='table-2'>
	<thead>
		<tr>
			<th>Estado</th>
			<th>Efecto</th>
		</tr>
	</thead>
	<tbody>
		<% estados.each do |e| %>
			<tr>
				<td><%= e[:nombre] %></td>
				<td><%= e[:efecto] %></td>
			</tr>
		<% end %>
	</tbody>
</table>