<title>Herosheet: Resistencias</title>
<%= erb :menu %><br>
<h1>Resistencias</h1>

<table id='table-2'>
	<thead>
		<tr>
			<th colspan=2>Resistencia</th>
			<th>Descripción</th>
		</tr>
	</thead>
	<tbody>
		<% resistencias.each do |r| %>
			<tr>
				<td>X</td>
				<td><%= r %></td>
				<td><%= resistencia(r) %>
			</tr>
		<% end %>
	</tbody>
</table>