<table id='tier', style="background-color:<%= item.tier_color %>;">
<tbody>
	<tr><td>
		<% if item.tier %>
			<h3>Tier de <%= "ola ke ase" %></h3>
		<% end %>
		<h3>Engarces</h3>
			xxx
	</td></tr>
</tbody>
</table>	